# Compiled class file
*.class

# Log file
*.log
logs/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml

# Gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# OS Generated
.DS_Store
Thumbs.db